@import "vendor/bootstrap/bootstrap/variables";
@import "variables";

.benefits-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;

  .benefit-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    @media all and (max-width: $screen-sm-min) {

      &:not(:first-child) {
        margin-top: 30px;
      }
    }
  }

  @media all and (max-width: $screen-sm-min) {
    flex-direction: column;
  }
}

.tiles-container {

  .tile {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.research-icon,
.benefit-icon {
  height: 80px;
  margin-bottom: 10px;
}
